body{
    background-color: aqua;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.road{
width: 500px; ;
height: 100vh;
background-color:rgb(82, 82, 86);
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lines{
background-color: aliceblue;
width: 25px;
height: 200px; ;
margin: 40px;

}
.carright{
    width: 100px; ;
    height:150px ;
    z-index: 100000000s
    ;
    position: fixed;
    top:50px;
    right: 36vw;
}
.carleft{ 
       width: 100px; ;
    height:150px ;
    z-index: 100000000s
    ;
    position: fixed;
    top:50px;
    right: 55vw;}
.carcenter{
    width: 100px; ;
    height:150px ;
    z-index: 100000000s
    ;
    position: fixed;
    top:50px;
    right:46.3vw;
}

.arrow1{
background-color: blue;

width: 150px;
height: 60px;
position: fixed;
top: 90vh;

left:57vw ;
}
.arrow2{

width: 150px;
height: 60px;
    background-color: red;
    position: fixed;
    top: 90vh;
    right:57vw ;
}

